<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <title>Flask blog - {{ title }}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg header-nav bg-primary sticky-top">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="active">
                    <a class="nav-link nav-link-header" href="{{ url_for('main.home') }}">Home <span
                            class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="javascript:void(0)" class="nav-link nav-link-header dropdown-toggle" data-toggle="dropdown"
                        role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item"><a class="nav-link"
                                href="{{ url_for('users.profile', user_id= current_user.id) }}">Profile</a></li>
                        <li class="dropdown-item"><a class="nav-link"
                                href="{{ url_for('users.settings', user_id=current_user.id) }}">Settings</a></li>
                        <div class="dropdown-divider"></div>
                        <li class="dropdown-item"><a class="nav-link" href="{{ url_for('users.logout') }}">
                                Logout - {{ current_user.username }}</a>
                        </li>
                    </ul>
                </li>
                {% else %}
                <li>
                    <a class="nav-link nav-link-header" href="{{ url_for('users.register') }}">Signup</a>
                </li>
                <li>
                    <a class="nav-link nav-link-header" href="{{ url_for('users.login') }}">
                        Login
                    </a>
                </li>
                {% endif %}
                <li>
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search"
                            onkeyup="searchUsers(this.value)">
                        <ul class="list-group position-absolute p-6" id="search">
                        </ul>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
    <section>

        {% with messages = get_flashed_messages(with_categories=true)  %}

        {% if messages %}

        {% for category, message in messages %}
        <div class="alert alert-{{ category }} m-2">
            {{ message  }}
        </div>
        {% endfor %}

        {% endif %}

        {% endwith %}

    </section>
    {% block content %}
    {% endblock content %}
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
    integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
    integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
    crossorigin="anonymous"></script>
<script>
    $('.dropdown-toggle').dropdown();

    function searchUsers(username) {
        if (username.trim().length === 0) {
            document.getElementById("search").innerHTML = '';
            return;
        }
        const xhr = new XMLHttpRequest();
        console.log(username)
        xhr.onreadystatechange = () => {
            let html = '';
            const users = JSON.parse(xhr.responseText);

            for (const user of users) {
                const url = `/profile/${user.id}`
                html += `
                <li class="list-group-item">
                    <a class="nav-link nav-link-search" href="${url}">${user.username}</a>
                </li>`
            }
            document.getElementById("search").innerHTML = html

        }
        xhr.open("GET", "{{ url_for('users.search_user') }}?username=" + username, true);
        xhr.send();
    }
</script>

</html>