body {
  overflow-x: hidden;
}
.header-nav {
  color: black;
}
.navbar-toggler-icon {
  /* background-color: white; */
  color: white;
}
.nav-link-header,
.navbar-brand {
  color: white;
}

.nav-link-header:hover,
.navbar-brand:hover {
  background-color: #007bff;
  opacity: 0.5;
  color: white;
}

.nav-link-search {
  background-color: white;
  color: black;
  width: 100%;
  margin: 0;
}

.btn-outline-custom {
  background-color: purple;
}

.btn-outline-custom:hover {
  background-color: rgba(150, 0, 140, 0.5);
  opacity: 0.5;
  color: white;
}

.card {
  width: 90%;
  height: 50%;
}
/* 
#search {
  position: absolute;
  width: 100%;
  /* height: 100px; */
  /* text-transform: capitalize;
  top: 40px; */
/* } */ 

textarea {
  resize: none;
}
